<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <div *ngIf="category">
                    <h3>OLD CATEGORY</h3>
                    <b>Name Category:</b>
                    <i style="color: #f92672">{{category.nameCategory}}</i><br>
                    <img [src]="category.avatarCategory">
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <form class="edit-category" #f="ngForm" (ngSubmit)="f.form.valid&&ngSubmit()" novalidate>
                    <mat-error class="alert alert-primary">{{status}}</mat-error>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Name Category: </mat-label>
                        <input matInput name="nameCategory" [(ngModel)]="category.nameCategory" #nameCategory="ngModel" required>
                        <mat-error *ngIf="nameCategory.hasError('required')">The name Category is required!</mat-error>
                    </mat-form-field>
                    <app-upload-avatar (giveURLtoCreate)="changeAvatar($event)"></app-upload-avatar>
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Update Category
                        <mat-icon color="accent" matSuffix>category</mat-icon>
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
